appdirs
aria2p
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
js2py
lxml
megasdkrestclient
psutil
progress
Pyrogram
psycopg2-binary
python-dotenv
python-magic
python-telegram-bot
requests
telegraph
tenacity
TgCrypto
yt-dlp
quoters
messages
pillow
hachoir
