appdirs
aria2p
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
hachoir
js2py
lxml
megasdkrestclient
Pillow
psutil
progress
Pyrogram
psycopg2-binary
python-dotenv
python-magic
python-telegram-bot
requests
telegraph
tenacity
TgCrypto
urllib3
yt-dlp
quoters
